.shop-container {
  display: flex;
}
.product-container {
  width: 70%;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 10px;

  border-right: 1px solid lightblue;
}
.cart-container {
  margin-top: 10px;

  padding-left: 50px;
  margin-left: 1100px;
  position: fixed;
}
.cart-container h3 {
  margin-top: 30px;
  margin-left: 40px;
}
